<div class="col-xs-12">

    <div class="image-panel">
        <a href="/profile">
            {{#if user.profile.picture}}
                <img class="img-circle" src="/i/{{user.profile.picture}}/161/149" alt=""/>
            {{else}}
                <img class="img-circle" src="{{settings.static_path}}/img/personicon.png" width="50" alt=""/>
            {{/if}}
        </a>
    </div>

    <div class="stars stars-customer">
        <form action="test">
            <input class="star star-5" id="star-5" type="radio" name="star">
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star">
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star">
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star">
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star">
            <label class="star star-1" for="star-1"></label>
        </form>
    </div>
    <div class="customer-name-panel">
        <p class="name-customer">{{ user.name }}</p>

        <div class="btn-group">
            <button type="button" class="customer-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a href="/profile">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        My Account
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/accounting">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        Accounting
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Favorites
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/api/session" id="profile-signout">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<div id="profile" class="person">
    <div class="photo pull-left">
        {{#if user.profile.picture}}
        <div class="edit">
            <a href="/profile" class="btn btn-mini">
                <i class="icon-edit"></i>
                Edit
            </a>
        </div>
        <img src="/i/{{user.profile.picture}}/161/149" />
        {{else}}
        <div class="edit">
            <a href="/profile" class="btn btn-mini">
                <i class="icon-plus"></i>
                Add
            </a>
        </div>
        <div class="no-photo"></div>
        {{/if}}
    </div>
    <h2>{{ user.name }}</h2>
    <div>
    <h4> Balance: ${{ user.balance}} </h4>
        <input type="text" value="{{user.mood}}" id="mood" placeholder="Your status..." style="max-width: 120px">
        <a id="mood-save" href="#" class="btn" style="margin-top: 0; vertical-align: top;">Post</a>
    </div>
    {{#if user.average_rating}}
    {{helper 'stars' stars=user.average_rating total=user.ratings.length user=user._id}}
    {{/if}}
    <div class="btn-group">
        <a href="/profile" class="btn">My Profile</a>
        <a href="/api/session" class="btn" id="profile-signout">Signout</a>
    </div>
</div>
-->

<script type="text/javascript">
jQuery(function($) {

    /*
    $('#mood-save').click(function() {
        m = $('#mood').val();
        $.ajax({
            type: 'POST',
            url: '/api/mood',
            data: { mood: m }
        }).done(function() {
            window.location.reload();
        }).fail(function() {
            alert('Error saving mood message...');
        });
        return false;
    });
    */

    $('#profile-signout').click(function() {
        if ($(this).is('.disabled')) return false;
        $(this).toggleClass('disabled', true);
        $.ajax({
            url: '/api/session',
            type: 'DELETE'
        }).done(function() {
            window.location = '/';
        }).fail(function() {
            alert('Logout action failed. Clearing your browser\'s cookies will automatically and securely cause your Mechfinder session to be closed.');
            $('#profile-signout').toggleClass('disabled', false);
        });
        return false;
    });
});
</script>
