<a href="{{recoveryHref}}"><img src="{{imageHref}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{participant.first}},</p>

<p>{{starter.username}} wrote you a message on MechFinder! Visit <a href="{{dashboardHref}}">your dashboard</a> and click on the messaging icon at the top to view your conversations.</p>

<p>You can get to your dashboard here: <a href="{{dashboardHref}}">{{dashboardHref}}</a></p>

<br /><br />

<p>{{starter.username}}'s message:</p>
<p><em>{{message}}</em></p>

<br /><br />

<p>Tip: We will only send you conversation updates if the there hasn't been any activity in the chat for a while.</p>

<br /><br />

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>