<a href="http://mechfinder.com/profile/{{user._id}}">{{user.name}}</a> Mechanic has Bid {{currency bid.estimate}} on Project <a href="http://mechfinder.com/projects/{{project.number}}">{{project.number}}</a> Log into your Mechfinder account to select them.
