<div id="hire-confirmation">
    <small>On {{date bid.date_submitted}} {{bid.user.name}} said:</small>
    <blockquote>“{{bid.comments}}”</blockquote>
    <hr/>
    You will be accepting an estimate of:<br />
     <h4>{{currency bid.estimate}}</h4>
     {{#if remainder}}
      That amount of {{currency remainder}} will be added to your Mechfinder balance {{currency user.balance}}
     {{else}}
        That amount of {{currency amount}} will be deducted from your Mechfinder balance {{currency user.balance}}
    {{/if}}
    <hr/>
    <form id="form-hire-confirmation" class="form-inline" method="post" action="/api/project/{{ p._id }}/hire">
        <input type="hidden" name="bid" value="{{bid._id}}" />
        <div class="btn-group">
            <input type="submit" value="Accept Estimate" class="btn btn-success" />
            <button class="btn" id="button-hire-cancel">Cancel</button>
        </div>
        <div class="alert error" style="display: none;">
            There was a problem completing this request.
        </div>
    </form>
</div>

<script type="text/javascript">
jQuery(function($) {
    $('#button-hire-cancel').click(function() {
        // NOTE: would be lovely to target just this popover
        $('*[rel=popover][data-load]').popover('hide');
        return false;
    });
    $('#form-hire-confirmation').validate({
        submitHandler: function(form) {
            form = $(form);
            form.ajaxSubmit({
                success: function (data) {
                      $('*[rel=popover][data-load]').popover('hide');
                    var button = $( document.createElement('button') );
                    button.attr('id', 'button-scheule-meteup')
                        .attr('class', 'btn btn-success')
                        .attr('data-toggle','modal')
                        .attr('data-target','#modal-schedule-meetup')
                        .attr('href','/projects/{{p._id}}/meetup')
                        .text('Schedule Meeting')
                        .appendTo('#mainbt');
                    button.trigger('click');


                },
                error: function (xhr, err) {
                    form.find('.alert-error').show();
                },
                complete: function() {
                    form.find(':input:not(:submit)').removeAttr('disabled');
                    form.find(':submit').button('reset');
                }
            });
            form.find('.alert').hide();
            form.find(':input:not(:submit)').attr('disabled', 'disabled');
            form.find(':submit').button('loading');
            return false;
        }
    });

});
</script>
