{{#if user}}



<a href="{{activationHref}}"><img src="{{imageHref}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p style="text-align:center;"><strong><em>From Oil Changes to Engine Repairs to Sound Systems to Interior Detailing: Your Personal Mechanic Is Here!</em></strong></p>
<br/>

<p><em>{{user.first}},</em></p>
<p><em>Welcome to an Auto Repair business designed for the 21st century. To get started, please verify your email address:</em></p>
<p><a href="{{activationHref}}">{{activationHref}}</a></p>
<p>--------------------</p>
<br/>

<p>With MechFinder you will have the ability to obtain the best price and the best mechanic for your project every time. Our customers save an average of 42% when compared to a shop or dealership.</p>
<p>In addition to saving you a lot of money, MechFinder is dedicated to proving that trust and reliability can be found in the auto repair business.</p>
<p>MechFinder.com is a FREE service that allows customer to hire local mechanics. By working directly with your mechanic, you are able to cut out the overhead of shops and dealership.</p>
<p>Top 5 reason to use MechFinder.com</p>
<ol>
    <li>Save an average of 42% on your car repairs</li>
    <li>Most MechFinder mechanics are mobile and will come directly to you</li>
    <li>Receive instant estimates from mechanics specializing in your needs</li>
    <li>Find great mechanics while traveling or after moving to a new place</li>
    <li>Obtain a personal relationship with your mechanic rather than somebody behind a desk</li>
</ol>

<br />

<p>Sincerely,</p>

<p>MechFinder Support Team</p>
<p>Phoenix, AZ</p>
<p>support@mechfinder.com</p>



{{/if}}
