{{#if user}}



<a href="{{activationHref}}"><img src="{{imageHref}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{user.first}},</p>

<h2>Account Verification</h2>
<p>{{user.first}}, first and foremost, thank you for signing with MechFinder. Before you start, we'd like to remind you to <a href="{{activationHref}}">verify your account</a>. Please visit the following link for verification:</p>
<p><a href="{{activationHref}}">{{activationHref}}</a></p>

<h2>Thank you for becoming a MechFinder member</h2>
<p>From oil changes to engine repairs to electrical problems to interior repair - your personal mechanic is here!</p>
<p>This is the new way thousands of people across the country are getting their car repaired. With MechFinder you will have the ability to obtain the best price and the best mechanic for your job every time. Our customers save an average of 42% when compared to their shop or dealership estimate. MechFinder always allows for a secure payment method, allowing you to feel confident and comfortable in all of your vehicle needs. </p>
<p>MechFinder.com is a FREE service that allows customer to get estimates from local mechanics working from home. By working directly with your mechanic it allows you to cut out all of the overhead costs that are attached to a shop. You also receive many additional perks as well.</p>
<p>Top 6 reason to use MechFinder.com</p>
<ol>
    <li>Save an average of 42% on your car repairs</li>
    <li>Most MechFinder mechanics are mobile and will come directly to you</li>
    <li>All work warrantied for at least 30 days (Mechanics may offer more)</li>
    <li>Receive instant estimates from mechanics specializing in your needs</li>
    <li>Find great mechanics while traveling or after moving to a new place</li>
    <li>Obtain a personal relationship with your mechanic rather than somebody behind a desk</li>
    <li>Your personal mechanic is always there to answer your questions or when you’re in need</li>
</ol>

<br /><br />

<h2>Tips for Using MechFinder:</h2>

<h3>When Posting a Job:</h3>
<p>When posting a job use as much detail as possible so that you get the most accurate bid.  Post everything you can think of such as; if you have the parts, what sounds the car is making, what smells are there, when you normally experience the problem, etc.</p>

<h3>Choosing a Mechanic:</h3>
<p>You can either begin a mechanic search on your own or you may wait for the bids to come in. You are also able to message or live-chat any mechanic to assist in your selection. There are many factors that go into choosing the right mechanic. These include</p>
<ol>
    <li>Their bid</li>
    <li>Their experience and previous ratings</li>
    <li>Do they offer warranties for labor and/or parts</li>
    <li>Do they come to you and or do you go to them</li>
</ol>

<h3>Payments</h3>
<p>Once you have chosen which mechanic you want to work with you simply click ‘Hire’. The bid price will be paid and will go into an escrow account. This lets the mechanic know the money is available to go ahead and buy parts. However, you won’t actually release the money to the mechanic until you are satisfied with the job.</p>

<h3>Schedule Meet-Up</h3>
<p>Once hired, the mechanic's number and email will now be available to you. Set up a place and a time and then let the mechanic do what they do best; getting you and your family safely on the road again. </p>

<h3>Once Completed</h3>
<ol>
    <li>Once the job is completed and you are satisfied then you can now release the funds to the mechanic for a job well done.</li>
    <li>Please rate the mechanic to let future customers know what to expect.</li>
</ol>

<p>Thank you for using MechFinder,</p>

<p>MechFinder Support Team</p>
<p>contact.us@mechfinder.com</p>



{{/if}}
