{{#if user}}



<a href="{{activationHref}}"><img src="{{imageHref}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p><em>{{user.first}},</em></p>
<p><em>Please verify your email to get start placing estimates:</em></p>
<p><a href="{{activationHref}}">{{activationHref}}</a></p>
<p>--------------------</p>
<br/>
<p style="text-align:center;"><strong>Your username is: </strong>{{user.username}}</p>

<p>If you haven't already, we would suggest reading the Mechanic’s <a href="{{howitworksHref}}">How It Works</a> and <a href="{{feebreakdownHref}}">Fee Breakdown</a> pages. You’ll quickly gain an understanding for the MechFinder system, and will learn how to make MechFinder.com work for you.</p>
<p><strong>The next step:</strong></p>
<p><a href="{{jobsHref}}">Search for Jobs</a> and begin placing estimates. Keep them honest, realistic, and confident that you’re able to handle the job.</p>
<p>Remember: We are simply here to help you grow your business. Our entire site was built with mechanics in mind.  Whether you want extra work on the weekends, or want to work full-time for yourself, we want to help you get there.</p>
<p>Don’t hesitate to reach out with suggestions or tips on how we can make MechFinder work better for you. </p>
<br />

<p>Sincerely,</p>

<p>MechFinder Support Team</p>
<p>Phoenix, AZ</p>
<p>support@mechfinder.com</p>



{{/if}}
