FIRST NAME: {{u.first}}<br/>
LAST NAME: {{u.last}}<br/>
USER TYPE: {{u.role}}<br/>
CITY: {{u.address.0.city}}<br/>
STATE: {{u.address.0.state}}<br/>
COUNTRY: {{u.address.0.country}}<br/>

<a href="http://www.mechfinder.com/profile/{{u.id}}">View user's profile on Mechfinder.com</a>
