<a href="{{hrefs.home}}"><img src="{{hrefs.image}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{project.owner.first}},</p>

<br /><br />

<p>{{seller.username}} is working on your {{project.vehicle.make}}. They have added an additional estimate to <a href="{{hrefs.project}}">this job</a>.</p>

<p><strong>Project Name</strong>: {{{project.title}}}<br />
<p><strong>Vehicle</strong>: {{project.vehicle.year}} {{project.vehicle.make}} {{project.vehicle.model}}</p>

<p><strong>Additional Estimate Total</strong>: {{currency bid.estimate}} <a href="{{hrefs.project}}">View Details</a></p>

<p>Tip: Additional estimates are usually added when a mechanic believes additional repairs are needed that weren’t covered on their original estimate. Feel free to discuss any of these suggestions with your mechanic. He will be able to adjust or remove the additional estimates if necessary.</p> 

<br /><br />

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>

