<p>
	You've received a new comment on your project,
	<a href="http://mechfinder.com/projects/{{project.number}}">{{project.display}}</a>
</p>

<p>From: <a href="http://mechfinder.com/profile/{{user._id}}">{{user.name}}</a></p>
<p>Message: {{comment.comments}}</p>

<p>
	<a href="http://mechfinder.com/projects/{{project.number}}">View your project on Mechfinder.com!</a>
</p>
