<a href="{{hrefs.home}}"><img src="{{hrefs.image}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{project.owner.first}},</p>

<br /><br />

<p>{{project.poster.username}} has posted their diagnosis on <a href="{{hrefs.projectReview}}">your job</a>.</p>

<p><strong>Project Name</strong>: {{{project.title}}}<br />
<p><strong>Vehicle</strong>: {{project.vehicle.year}} {{project.vehicle.make}} {{project.vehicle.model}}</p>

<br /><br />

<p><strong>What to do next:</strong></p>
<p>Review {{project.poster.username}}'s diagnosis: <a href="{{hrefs.projectReview}}">{{hrefs.projectReview}}</a></p>

<br /><br />

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>

