<p>
	You've received a new meetup request from the customer of:

</p>

<p>Customer: <a href="http://mechfinder.com/profile/{{user._id}}">{{user.name}}</a></p>
<p>Project: <a href="http://mechfinder.com/projects/{{project.number}}">{{project.display}}</a></p>
<p>Date: {{date event.date}}</p>
<p>Location: {{event.location}}</p>
<p>Notes: {{event.notes}}</p>

<p>
	<a href="http://mechfinder.com/inbox">View your schedule on Mechfinder.com!</a>
</p>
