<a href="{{hrefs.home}}"><img src="{{hrefs.image}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{target.first}},</p>

<br /><br />

<p>{{user.username}} has just posted <a href="{{hrefs.project}}">another job</a>.</p>

<p><strong>Project Name</strong>: {{{project.title}}}<br />
<p><strong>Vehicle</strong>: {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</p>
<p><strong>Description</strong>: {{project.description}}</p>

<br /><br />

<p><a href="{{hrefs.project}}">View Full Job and Place an Estimate</a></p>

<p>Tip: You are receiving this email because you have been assigned to a previous job posted this customer. You can disable this setting on your <a href="{{hrefs.personalProfile}}">personal profile settings page</a>.</p>

<br /><br />

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>

