<p>Project # {{project.number}} </p>
<p>Date Posted: {{date project.date_created}}</p>
<p>Customer Name: {{u.first}} {{u.last}}</p>
<p>Location: {{project.address.city}} {{project.address.state}} </p>
<p>Service Needed:  {{project.repair}} </p>
