<a href="{{hrefs.home}}"><img src="{{hrefs.image}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{project.assigned.first}},</p>

<br /><br />

<p>{{project.owner.username}} has released their payment on <a href="{{hrefs.project}}">your job</a>.</p>

<ul>
    <li><strong>Project Name:</strong> {{{project.title}}}</li>
    <li><strong>Vehicle:</strong> {{project.vehicle.year}} {{project.vehicle.make}} {{project.vehicle.model}}</li>
</ul>

<br /><br />

<p><strong>Payment</strong> {{currency estimate.sellerTotal}}</p>
<p>You payment is being processed, and will be sent directly to the bank account you have on file (Normally takes 24-48 hours for funds to reach your account).</p>

<br /><br />

<p><strong>In the mean time:</strong></p>
<p style="text-align: center;"><a href="{{hrefs.findProjects}}">Search for New Jobs</a> <a href="{{hrefs.rateCustomer}}">Rate the Customer</a></p>

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>

