<a href="{{hrefs.home}}"><img src="{{hrefs.image}}" alt="MechFinder Logo" title="MechFinder Logo" /></a>

<p>{{project.owner.first}},</p>

<br /><br />

<p>{{seller.username}} has requested payment for work on your {{project.vehicle.make}}. You can see more information on <a href="{{hrefs.project}}">this job here</a>.</p>

<p><strong>Project Name</strong>: {{{project.title}}}<br />
<p><strong>Vehicle</strong>: {{project.vehicle.year}} {{project.vehicle.make}} {{project.vehicle.model}}</p>

<p><a href="{{hrefs.projectRelease}}">Click here</a> and release payment for the estimates on this project to send the mechanic payment for a job well done.</p> 

<br /><br />

<p>Sincerely,<br />
<p>MechFinder Support Team<br />
<p>Phoenix, AZ</p>

<br /><br />
<p style="text-align: center;"><a href="https://facebook.com/mechfinder">Facebook</a> <a href="https://twitter.com/mechfinder">Twitter</a></p>
<p>Email MechFinder: support@mechfinder.com</p>
<p>Copyright &copy; 2016 Mech Finder LLC, All rights reserved</p>

