<p>
	You've received a rating on Mechfinder!
</p>

<p>User: <a href="http://mechfinder.com/profile/{{user._id}}">{{user.name}}</a></p>
<p>Project: <a href="http://mechfinder.com/projects/{{project.number}}">{{project.display}}</a></p>
<p>Rating: {{rating.stars}} (out of 5)</p>
<p>Notes: {{rating.notes}}</p>

<p>
	<a href="http://mechfinder.com/projects/{{project.number}}">View your project on Mechfinder.com!</a>
</p>
