<p>{{user.username}} has created a request for support</p>

<p><strong>Category</strong> {{ticket.category}}</p>
<p><strong>Message</strong></p>
<p>{{{ticket.message}}}</p>

<p>Ticket Number: {{ticket.number}}</p>
<p>User Email: {{user.email}}</p>