<div class="row">
    <div class="col-xs-12 col-md-5">
        <label class="control-label" for="{{id}}">{{label}}</label>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-4">
        <select id="{{id}}" name="{{#if name}}{{name}}{{else}}{{to_input_name id}}{{/if}}" placeholder="{{label}}" class="{{class}}{{#if size}} input-{{size}}{{/if}}">
  		{{#hash options}}
  			<option value="{{key}}" {{#if val}}{{#compare val to=key }}selected{{/compare}} {{/if}}>{{value}}</option>
  		{{/hash}}
  		</select>
        {{#if help}}<span class="help-block">{{help}}</span>{{/if}}
    </div>
</div>
