<div class="row">
    <div class="col-xs-12 col-md-5">
        <label class="control-label" for="{{id}}">{{label}}</label>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-4">
        <input type="submit" value="{{label}}" data-text-loading="Loading..." class="btn {{#if class}}{{class}}{{else}}btn-primary{{/if}}" />
    </div>
</div>
